.field{
  width: 300px;
  padding-bottom: 20px;
}

.colour-border{
  border: 13px solid rgb(0, 119, 255);
  padding: 10px;
}

.header{
  padding: 10px;
}

body{
  padding: 10px;
  background-color: antiquewhite;
}